.health{
    position: absolute;
    height: 20px;
    width: 20px;
}

.img{
    position: absolute;
    margin: 0px;
    padding: 0px;
    
}

 .main{
   
    display: flex;
    flex-flow: row;
 }
 
  
 .right{
    display: flex;
    flex-flow: column;
    margin-left: 800px;
 }
 
 .sign{
     margin-top: 10px;
     text-align: center;
     font-size: 12px;
 }
 
 .sign2{
     margin-top: 25px;
     text-align: center;
     font-size: 12px;
 }