.for{
    height: 46px;
width: 401px;
left: 495px;
top: 196px;
border-radius: nullpx;

}

.head{
    position: absolute;
    width: 401px;
    height: 46px;
    left: 495px;
    top: 196px;
    
}

.heading{
    position: absolute;
    width: 285px;
    height: 46px;
    left: 495px;
    top: 196px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
   
}

.footer{
    position: absolute;
    height: 58px;
    left: 495px;
    top: 247px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    
margin-top: 5px;
}


