.for{
    height: 46px;
width: 401px;
left: 495px;
top: 196px;
border-radius: nullpx;

}

.head{
    position: absolute;
    width: 401px;
    height: 46px;
    left: 495px;
    top: 196px;
    
}

.heading{
    height: 46px;
width: 401px;
left: 495px;
top: 196px;
border-radius: nullpx;
font-family: Inter;
font-size: 38px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 5px;
}

.footer{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
height: 58px;

left: 495px;
top: 247px;
border-radius: nullpx;

}

.text{
height: 2px;
width: 450px;
left: 496px;
top: 434px;
border-radius: 0px;
margin-bottom: 60px;

}

